@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    opacity: 0.8;
}
body{
    font-family: "M PLUS Rounded 1c", sans-serif;
}
img{
    max-width: 100%;
}

/* ----------------------------------
header
----------------------------------- */
#header{
    width: 200px;
    height: 100VH;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: solid 1px rgb(255, 0, 0);
    z-index: 30;
    >.left-side{
        >.company-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            >img{
                width: 130px;
                margin-top: 10px;
            }
        }
    }
    >.right-side{
        >.top-side{
            >.flex-left{
                >p{
                    background-color: #e6e6e6;
                    font-size: 0.8rem;
                    line-height: 1.7rem;
                }
            }
            >.flex-right{
                >.about-navi{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 5px 0;
                    >li{
                        width: 50%;
                        >a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 0.75rem;
                        }
                    }
                }
                >.searchbtn{
                    border-top: solid 1px rgb(255, 0, 0);
                    border-bottom: solid 1px rgb(255, 0, 0);
                    padding: 7px 0 5px 0;
                    
                }
            }
        }
        >.bottom-side{
            >.site-navi{
                >li{
                    background-color: rgb(255, 0, 0);
                    border-bottom: solid 1px #fff;
                    a{
                        font-size: 0.85rem;
                        display: block;
                        color: #fff;
                        padding: 15px 0;
                        >br{
                            display: none;
                        }
                    }
                }
            }
        }
        
    }
}
/* 詳細ナビメニュー　subMenu-area */
.subMenu-area{
    text-align: left;
    >.js-container{
        width: calc(50vw - 200px);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 200px;
        bottom: 0px;
        background-color: #fff;
        z-index: 30;
        box-shadow: 5px 0px 10px #00000066;
        >.navi-title{
            height: 120px;
            display: flex;
            align-items: center;
            >a{
                color: rgb(255, 0, 0);
                font-size: 0.95rem;                
                padding-left: 30px;
                display: flex;
                width: 100%;
                height: 100%;
                >p{
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::after{
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-width: 2px 2px 0px 0px;
                        border-style: solid;
                        border-color: rgb(255, 0, 0) rgb(255, 0, 0) transparent transparent;
                        position: absolute;
                        bottom: 50%;
                        right: -15px;
                        transform: rotate(45deg);
                        transition: 0.15s;
                        
                    }
                }
                &:hover{
                    background-color: #e9e9e9;
                    >p{
                        &::after{
                            transform: translateX(5px) rotate(45deg);
                        }
                    }
                }
            }
        }
        >.navi-list{
            >li{
                border-bottom: solid 1px #ccc;
                >a{
                    display: block;
                    padding: 18px 30px;
                    font-size: 0.85rem;
                }
                &:first-child{
                    border-top: solid 1px #ccc;
                }
                &:hover{
                    background-color: #e9e9e9;
                }
            }
        }
        >.pickUp-contents{
            >.contents{
                display: flex;
                position: relative;
                align-items: center;
                background-color: #f3f3f3;
                >.text-area{
                    height: 100%;
                    width: calc(100% - 170px);
                    padding-left: 30px;
                    
                }
                >img{
                    width: 170px;
                }
                >.label{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgb(255, 0, 0);
                    color: #fff;
                    padding: 1px 10px;
                    font-size: 0.7rem;
                    
                }
            }
        }
    }
    
}
/* ホバーの変化後 */
.js-container{
    display: none;
}
.js-container.active{
    display: block;
}
/* .js-container{
    display: none;
} */

/* ----------------------------------
main
----------------------------------- */
main{
    width: calc(100% -200px);
    margin-left: 200px;
    
    >#mainvisual{        
        margin-bottom: 30px;
        >a{
            display: block;
            >img{
                height: 370px;
                object-fit: cover;
            }
        }
    }
    >.coment{
        max-width: 820px;
        width: 100%;
        margin: 0 auto 40px auto;
        >.text{
            line-height: 2.0rem;
            font-size: 1.1rem;
        }

    }
    >#grid-area{
        width: 100%;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px;
        >.item{
            margin-bottom: 10px;
            opacity: 1;
            >a{
                display: block;
                >img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
                >.logoImg{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
                >.bigSize{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                >.text-area{
                    height: 108px;
                    padding: 15px;
                    background-color: #e6e6e6;
                    >.tag-text{
                        display: inline-block;
                        font-size: 0.85rem;
                        padding: 0 7px;
                    }
                    >.text{
                        font-weight: bold;
                        font-size: 0.95rem;
                    }
                }
            }
        }
        >.item01{
            grid-column: 1/3;
        }
        >.item02{
            grid-column: 2/4;
        }
        
    }
}
#grid-area .item.active{
    display: none;
    opacity: 0;
    transition: 0.5s;
}
#grid-area.active{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}
.bk-yellow{
    background-color: #dcac00;
    color: #fff;
}
.bk-red{
    background-color: rgb(255, 0, 0);
    color: #fff;
}
.bk-gray{
    background-color: #676767;
    color: #fff;
}
.bk-green{
    background-color: #4b8d4b;
    color: #fff;
}
.bk-blue{
    background-color: #247fc4;
    color: #fff;
}
.bk-light-blue{
    background-color: #0cabd3;
    color: #fff;
}

/* moreBtn */
#js-moreBtn{
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    >p{
        background-color: #676767;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 10px 0;
    }
}
#js-moreBtn.active{
    display: none;
}


/* ----------------------------------
news info ニュースリリースと新着情報
----------------------------------- */
#news-info{    
    background-color: #efefef;
    >.container{
        max-width: 1100px;
        width: 100%;
        margin: 0   auto;
        padding: 30px 15px;
        display: flex;
        justify-content: center;
        >.left-news{
            width: 50%;
            padding: 0 20px;
            >.title-area{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                padding-left: 20px;
                >a{
                    font-size: 0.9rem;
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        border-width: 5px 5px 5px 5px;
                        border-style: solid;
                        border-color: rgb(255, 0, 0) rgb(255, 0, 0) transparent transparent;
                        transform: rotate(45deg);
                        position: absolute;
                        bottom: 13px;left: -20px;
                    }
                }
            }
            >.news-list{
                >li{
                    border-bottom: solid 1px #ccc;
                    padding: 20px;
                    >a{
                        >p{
                            font-size: 0.85rem;
                            display: flex;
                            align-items: center;
                            >time{
                                margin-right: 10px;
                            }
                        }
                        &:hover{
                            >.text{
                                color: rgb(255, 0, 0);
                                text-decoration: underline;
                            }
                            
                        }
                    }
                    &:first-child{
                        border-top: solid 1px #ccc;
                    }
                }
            }
        }
        >.right-info{
            width: 50%;
            padding: 0 20px;
            >.title-area{
                margin-bottom: 20px;
                padding-left: 20px;
            }
            >.info-list{
                >li{
                    border-bottom: solid 1px #ccc;
                    padding: 20px;
                    >a{
                        >p{
                            font-size: 0.85rem;
                            display: flex;
                            align-items: center;
                            
                        }
                        >time{
                            margin-right: 10px;
                            font-size: 0.85rem;
                        }
                        &:hover{
                            >.text{
                                color: rgb(255, 0, 0);
                                text-decoration: underline;
                            }
                            
                        }
                    }
                    &:first-child{
                        border-top: solid 1px #ccc;
                    }
                }
            }
        }
    }
}
/* ----------------------------------
notice お知らせ
----------------------------------- */
#notice{
    width: 100%;
    padding: 30px 30px 0px 30px;    
    >.title{
        text-decoration: underline;
        margin-bottom: 5px;
    }
    >p{
        >a{
            text-decoration: underline;
            >img{
                margin: 3px;
            }
        }
        
    }
    >.text{
        margin-bottom: 20px;
    }
    >.text1{
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
        padding: 20px 0;
    }
}

/* ----------------------------------
footer
----------------------------------- */
#footer{
    width: calc(100% - 200px);
    margin-left: 200px;
    >.sns-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        >.left-side{
            display: flex;
            align-items: center;
            margin-left: 30px;
            >.followUs{
                >p{
                    background-color: rgb(255, 0, 0);
                    color: #fff;
                    padding: 0px 10px;
                    position: relative;
                    margin-right: 20px;
                    &::after{
                        content: "";
                        width: 0;height: 0;
                        display: block;
                        border-width: 5px 5px 5px 5px ;
                        border-style: solid;
                        border-color: rgb(255, 0, 0) rgb(255, 0, 0) transparent transparent;
                        transform: rotate(45deg);
                        position: absolute;
                        bottom: 8px;
                        right: -6px;
                    }
                }
            }
            >.text{
                font-size: 0.9rem;
                font-weight: bold;
                margin-right: 20px;
            }
            >.sns-list{
                display: flex;
                align-items: center;
                >li{
                    margin-right: 20px;
                    width: 30px;
                    >a{
                        display: flex;
                        align-items: center;
                        
                    }
                }
            }
        }
        >.right-side{
            >a{
                font-size: 0.85rem;
                position: relative;
                margin-right: 30px;
                &::after{
                    content: "";
                        width: 0;height: 0;
                        display: block;
                        border-width: 5px 5px 5px 5px ;
                        border-style: solid;
                        border-color: rgb(255, 0, 0) rgb(255, 0, 0) transparent transparent;
                        transform: rotate(45deg);
                        position: absolute;
                        bottom: 6px;
                        left: -16px;
                }
            }
        }
    }
    >.footer-navi{
        background-color: #2b2b2b;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 30px 30px 20px 30px;
        line-height: 1;
        >.menu-list{
            display: flex;
            margin-bottom: 10px;
            >li{
                padding: 0 10px;
                border-right: solid 1px #ccc;
                >a{
                    color: #ccc;
                    font-size: 0.7rem;
                }
                &:last-child{
                    border: none;
                }
            }
        }
        >.copyright{
            font-size: 0.7rem;
            color: #ccc;
            display: flex;
            align-items: center;
            margin-left: 30px;
        }
    }
}


/* ----------------------------------
SP (width1100px~1360px)
----------------------------------- */
@media screen and (max-width:1360px) {
    #header{
        width: 100%;
        height: 110px;
        position: fixed;
        top: 0;right: 0;left: 0;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        /* border: none;
        border-bottom: solid 1px rgb(255, 0, 0); */
        >.left-side{
            width: 100px;
            border-right: solid 1px rgb(255, 0, 0);
            >.company-logo{
                >img{
                    width: 100px;
                    margin-top: 20px;
                }
            }
        }
        >.right-side{
            width: calc(100% - 100px);
            >.top-side{
                display: flex;
                justify-content: space-between;
                height: 50px;
                >.flex-left{
                    display: flex;
                    align-items: center;
                    >p{
                        background-color: #fff;
                        padding-left: 30px;
                    }
                }
                >.flex-right{
                    display: flex;
                    >.about-navi{
                        width: 500px;
                        flex-wrap: nowrap;
                        >li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            >a{
                                >p{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                    >.searchbtn{
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-left: solid 1px rgb(255, 0, 0);
                        padding: 0;
                        >a{
                            display: flex;
                            align-items: center;
                            
                        }
                    }
                }
            }
            >.bottom-side{
                height: 60px;
                >.site-navi{
                    width: 100%;
                    display: flex;
                    >li{
                        width: 14.3%;
                        >a{
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            >br{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .subMenu-area{
        >.js-container{
            width: 100%;
            height: auto;
            top: 110px;left: 0;right: 0;bottom: auto;
            display: flex;
            >.navi-title{
                width: 200px;
                border-right: solid 1px #ccc;
            }
            >.navi-list{
                width: calc(100% - 450px);
                display: flex;
                flex-wrap: wrap;
                >li{
                    width: 50%;
                    border-right: solid 1px #ccc;
                }

            }
            >.pickUp-contents{
                width: 250px;
                >.contents{
                    flex-direction: column-reverse;
                    >.text-area{
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                    >img{
                        width: 100%;
                    }
                }
            }
        }
    }
}