@charset "UTF-8";

/* ------------------------------------
CONTACT US のページCSS
-------------------------------------- */

/*-------------------
 contact 
 ------------------*/
#contact-page .contact{
    margin-left: 15px;
    margin-bottom: 50px;
}
#contact-page .contact .page-title{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#contact-page .contact .page-title .icon{
    width: 100px;
    height: 100px;
    border: solid 4.0px rgb(156, 200, 19);
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}
#contact-page .contact .page-title .icon img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#contact-page .contact .page-title .title {
    font-family: fantasy;
    color: rgb(156, 200, 19);
}
#contact-page .contact .page-title .title .en{
    font-size: 5.3rem;
    font-weight: normal;
    margin-bottom: 10px;
}
#contact-page .contact .page-title .title .ja{
    font-size: 1.3rem;
}
#contact-page .contact .text-area{
    line-height: 2.5rem;
}

/* コンタクト一覧ページの各セクションの共通プロパティ */
#contact-page .flex {
    width: 100%;
    display: flex;
    background-color: #F8F8FF;
    padding: 40px 80px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 20px;
}
#contact-page .flex .contact-section-left{
    width: 50%;
}
#contact-page .flex .contact-section-left .title-area{
    display: flex;
    margin-bottom: 30px;
}
#contact-page .flex .contact-section-left .title-area .icon{
    width: 80px;
    height: 80px;
    border: solid 3px rgb(156, 200, 19);
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}
#contact-page .flex .contact-section-left .title-area .icon img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#contact-page .flex .contact-section-left .title-area .title{
    
    color: rgb(156, 200, 19);
}
#contact-page .flex .contact-section-left .title-area .title .en{
    font-size: 3.0rem;
    font-family: fantasy;
    font-weight: normal;
}
#contact-page .flex .contact-section-left .title-area .title .ja{
    font-size: 1.1rem;
}

#contact-page .flex .contact-section-left .text{
    line-height: 2.0rem;
    margin-bottom: 30px;
    letter-spacing: 0.2rem;
}
#contact-page .flex .contact-section-left .page-btn{
    border: solid 3px rgb(156, 200, 19);
    border-radius: 35px;
    font-weight: bold;
    color: rgb(156, 200, 19);
    background-color: #fff;
    padding: 15px 50px;
    position: relative;
    transition: 0.3s;
}
#contact-page .flex .contact-section-left .page-btn:hover{
    opacity: 1;
    background-color: rgb(156, 200, 19);
    color: #fff;
    border-color: #fff;
}
#contact-page .flex .contact-section-left .page-btn::after{
    content: "";
    width: 8px;
    height: 8px;
    border-width: 2px 2px 0 0 ;
    border-style: solid;
    border-color: rgb(156, 200, 19) rgb(156, 200, 19) transparent transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#contact-page .flex .contact-section-left .page-btn:hover::after{
    border-color: #fff #fff transparent transparent;
}
#contact-page .flex .contact-section-right{
    width: 50%;
}
#contact-page .flex .contact-section-right img{
    width: 300px;
}
/* service desk  サービスデスク */
#contact-page .flex .contact-section-right .Tel-info{
    border: solid 1px #ccc;
    padding: 30px;
    display: inline-block;
}
#contact-page .flex .contact-section-right .Tel-info .tel-number{
    color: rgb(156, 200, 19);
    text-align: center;
    font-family: fantasy;
    font-weight: normal;
    margin-bottom: 10px;
}
#contact-page .flex .contact-section-right .Tel-info .tel-number .tel{
    font-size: 1.5rem;
}
#contact-page .flex .contact-section-right .Tel-info .tel-number .num{
    font-size: 2.0rem;
    
}
#contact-page .flex .contact-section-right .Tel-info .text{
    font-size: 0.85rem;
}

/* モデルハウス */
#contact-page .flex .contact-section-right .model-image{
    width: 420px;
}

/* SNSについて */
#contact-page .sns{
    margin: 60px 0;
}
#contact-page .sns .flex {
    background-color: #fff;
}
#contact-page .sns .online-title{
    font-size: 1.8rem;
    text-align: center;
}
#contact-page .sns .flex .contact-section-left .title-area .icon {
    border: none;
}
#contact-page .sns .flex .contact-section-left .title-area .icon img{
    width: 90px;
    height: 90px;
}
#contact-page .flex .contact-section-right .sns-image{
    width: 400px;
    height: 200px;
}

/* 土地・宅地・環境調査のご相談 */
#contact-page .land.flex{
    margin-bottom: 70px;
}
#contact-page .land.flex .contact-section-left .title-area{
    margin-bottom: 80px;
}
#contact-page .land.flex .contact-section-left .page-btn {
    display: block;
    width: 250px;
    border-radius: 50px;
}
#contact-page .land.flex .contact-section-left .page-btn::after{
    width: 10px;
    height: 10px;
    bottom: 35px;
    right: 35px;
}
#contact-page .flex .contact-section-right .land-image{
    width: 400px;
    height: 180px;
    object-fit: cover;
}

@media screen and (max-width:940px) {
    .directory{
        font-size: 0.80rem;
    }

    /* contact-page */
    #contact-page .contact{
        margin: 0px 20px 50px 20px;
    }
    #contact-page .contact .page-title{
        justify-content: center;
    }
    #contact-page .contact .page-title .title .en {
        font-size: 2.55rem;
        margin-bottom: 0;
    }
    #contact-page .contact .page-title .title .ja{
        font-size: 1.0rem;
    }
    #contact-page .contact .page-title .icon {
        width: 55px;
        height: 55px;
    }
    #contact-page .contact .page-title .icon img{
        width: 40px;
        height: 40px;
    }
    #contact-page .contact .text-area{
        text-align: center;
    }

    /* ページ内共通プロパティ */
    #contact-page .flex{
        flex-direction: column;
        padding: 30px 15px;
    }
    #contact-page .flex .contact-section-left {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    #contact-page .flex .contact-section-left .title-area{
        justify-content: center;
        align-items: center;
    }
    #contact-page .flex .contact-section-left .title-area .icon{
        width: 50px;
        height: 50px;
    }
    #contact-page .flex .contact-section-left .title-area .icon img{
        width: 35px ;
        height: 35px;
    }
    #contact-page .flex .contact-section-left .title-area .title .en {
        font-size: 2.3rem;
    }
    #contact-page .flex .contact-section-left .title-area .title .ja{
        font-size: 0.8rem;
        text-align: left;
    }
    #contact-page .flex .contact-section-left .text {
        font-size: 0.9rem;
        line-height: normal;
        letter-spacing: normal;
    }
    #contact-page .flex .contact-section-right {
        width: 100%;
        text-align: center;
    }

    /* サービスデスク */
    #contact-page .service-desk.flex .contact-section-left {
        margin-bottom: 0;
    }
    #contact-page .flex .contact-section-right .Tel-info{
        padding: 20px;
    }

    /* SNSについて */
    #contact-page .sns .online-title {
        font-size: 1.1rem;
    }
    #contact-page .sns .flex .contact-section-left .title-area .icon img{
        width: 50px;
        height: 50px;
    }
    #contact-page .flex .contact-section-left .title-area .title {
        text-align: left;
    }

    /* 土地・宅地情報とご相談 */
    #contact-page .land.flex .contact-section-left .title-area{
        margin-bottom: 40px;
    }
    #contact-page .land.flex .contact-section-left .page-btn {
        display: inline-block;
    }
}