@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    margin: 0;
    font-family: "游ゴシック体", "YuGothic","游ゴシック Medium";
    font-feature-settings: "palt";
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    opacity: 0.7;
}
h1,h2,h3,p,ul,dl,dd{
    margin: 0;
}

/*----------------------------------------------
 共通設定 
 -----------------------------------------------*/
.section-title{
    margin-bottom: 50px;
}
.section-title p{
    text-align: center;
    font-family: fantasy;
    line-height: 1;
}
.section-title .en{
    font-size: 4.0rem;
}
.section-title .ja{
    font-size: 1.1rem;
    font-weight: bold;
}
/* インデックスページ以外にあるディレクトリの表示 */
.directory{
    margin: 0px 0px 35px 20px;
    color: #555555;
    padding-top: 120px;
}
.directory a{
    text-decoration: underline;
}

/*---------------------------------------------- 
ヘッダー 
-----------------------------------------------*/
#header{
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
#header .flex{
    display: flex;
    justify-content: space-between;
}
/*.............. 
ヘッダーの左側 
................*/
.head-left{
    height: 100px;
    display: flex;
    margin-left: 50px;
    align-items: center;
}
.head-left .site-title{
    width: 130px;
    position: fixed;
    z-index: 30;
}
.head-left .site-title.white{
    opacity: 0;
    transition: 0.3s;
}
.head-left .site-title.white.open{
    opacity: 1;
}
/* ハンバーガーメニュ */
.hum-btn{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    position: fixed;
    cursor: pointer;
    left: 180px;
    z-index: 30;
    
}
.hum-btn span{
    width: 30px;
    height: 1px;
    background-color: #a9a4a4;
    position: absolute;
    left:0;
}
.hum-btn span:nth-child(1){
    top: 10px;
}
.hum-btn span:nth-child(2){
    top: 15px;
    left: 3px;
    width: 24px;
}
.hum-btn span:nth-child(3){
    top: 20px;
}
/* ボタンクリック後 */
.hum-btn.open{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: solid 1.5px #a9a4a4;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    left: 180px;
    z-index: 30;
}
.hum-btn.open span{
    width: 30px;
    height: 1px;
    background-color: #a9a4a4;
    position: absolute;
    left:0;
}
.hum-btn.open span:nth-child(1){
    width: 20px;
    top: 15px;
    left: 5.5px;
    transform: rotate(45deg);
}
.hum-btn.open span:nth-child(2){
    opacity: 0;
}
.hum-btn.open span:nth-child(3){
    width: 20px;
    top: 15px;
    left: 5.5px;
    transform: rotate(-45deg);
}

/* ハンバーガーメニュを開いた時のリスト */
.h-navi{
    width: 260px;
    /* opacity: 0; */
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateY(-100vh);
    transition: 0.3s;
}
.h-navi.open{
    transform: translateY(0vh);
}
.h-navi .naviBox{
    width: 260px;
    height: 100px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
.h-navi .navi-menu{
    height: calc(100vh - 140px);
    padding: 120px 0 20px 67px;
    position: relative;
    z-index: 10;
    overflow-y: scroll;
}
.h-navi .navi-menu::-webkit-scrollbar{
    display: none;
}
.h-navi .navi-menu li{
    margin-bottom: 30px;
}
.h-navi .navi-menu a{
    font-size: 0.76rem;
    font-weight: bold;
    position: relative;
    color: #fff;
}
.h-navi .navi-menu a:hover{
    color: rgb(156, 200, 19);
}
.h-navi .navi-menu a span::after{
    content: "";
    width: 20px;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.h-navi .navi-menu a span:hover:after{
    background-color: rgb(156, 200, 19);
}

/* ........
ヘッダー右側
........... */
.head-right{
    display: flex;
    justify-content: right;
    text-align: center;
    transform: translateY(-100px);
    transition: 0.3s;
}
.head-right.movein{
    transform: translateY(0);
}
.site-menu{
    display: flex;
    height: 100px;
    align-items: center;
}
.site-menu li{
    width: 90px;
}
.site-menu li a{
    display: block;
}
.site-menu li img{
    width: 35px;
}
.site-menu .text{
    color: rgb(156, 200, 19);
    font-weight: bold;
    font-size: 0.7rem;
}
/* popdown */
.popDown-btn{
    width: 75px;
    height: 90px;
    background-color: rgb(156, 200, 19);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    position: relative;
}
.popDown-btn span{
    width: 20px;
    height: 20px;
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg) ;
    position: absolute;
    top: 5px;
    left: 27px;
}
.popDown-btn span:nth-child(1){
    animation: headMove 1.8s linear 0s infinite backwards;
}
.popDown-btn span:nth-child(2){
    animation: headMove 1.8s linear 0.9s infinite backwards;
}
@keyframes headMove{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        top:40px;
        opacity: 0;
    }
}

/*　------------------
 ポップダウンコンテンツ
 ---------------------*/
.popDown-content{
    width: 800px;
    height: 550px;
    position: fixed;
    top: -550px;
    right: 0;
    z-index: 40px;
    text-align: center;
    transition: 0.3s;
}
.popDown-content.open{
    top: 0;
}
.popDown-content a:hover{
    opacity: 1;
}
.popDown-content .item-top{
    display: flex;
}
.popDown-content .item-top .item-left{
    width: 50%;
    height: 315px;
    background-color: rgb(211 222 22);
    padding-top: 85px;
}
.popDown-content .item-top .item-left .catalog{
    filter: drop-shadow(4px 5px 3px #555555);
}
.popDown-content .title-area{
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    margin-bottom: 15px;
}
.popDown-content .title-area .title{
    margin-left: 15px;
    text-align: left;
}
.popDown-content .title-area .title h1{
    font-size: 2.5rem;
    font-family: fantasy;
    letter-spacing: 1.5px;
    font-weight: normal;
}
.popDown-content .title-area .text{
    font-size: 1.1rem;
    position: relative;
    display: inline;
}
.popDown-content .title-area .text::after{
    content: "";
    width: 10px;
    height: 10px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    position: absolute;
    bottom: 6px;
    right: -20px;
    transform: rotate(45deg);
}
.popDown-content .title-area .icon{
    width: 60px;
    height: 60px;
    border: solid 3px #fff;
    border-radius: 50%;
    position: relative;
}
.popDown-content .title-area .icon img{
    width: 40px;
    position: absolute;
    top: 11px;
    left: 10px;
}
.popDown-content .item-top .item-right{
    width: 50%;
    height: 260px;
    background-color: rgb(190 200 19);
    padding-top: 140px;
}
.popDown-content .item-top .item-right .text1{
    color: #fff;
    font-size: 0.75rem;
}
.popDown-content .item-bottom{
    height: 115px;
    padding-top: 35px;
    background-color: rgb(156, 200, 19);
}
.back-btn{
    width: 35px;
    height: 35px;
    border: solid 2px #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.back-btn span{
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 5px;
}
.back-btn span:nth-child(1){
    top: 17px;
    transform: rotate(-45deg);
}
.back-btn span:nth-child(2){
    top: 17px;
    transform: rotate(45deg);
}

/* ------------------------------------------------
メインコンテンツ
------------------------------------------------- */
/* 
メインヴィジュアル
*/
#mainvisual{
    width: 100%;
    max-width: 999%;
    margin-top: 120px;
    position: relative;
}
#mainvisual img{
    width: 100%;
    min-height: 255px;
    max-width: 999%;
    object-fit: cover;
    object-position: center;
}
#mainvisual .title{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    font-size: 2.8rem;
    font-family: fantasy;
    letter-spacing: 0.1rem;
    font-weight: normal;
}
/* 
会員登録画面へ移動ボタン 
*/
#catalog-goBtn{
    width: 530px;
    border: solid 2.5px rgb(156, 200, 19);
    margin: 80px auto 50px auto;
    
}
#catalog-goBtn a{
    width: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    margin: 0 15px;
}
#catalog-goBtn .icon{
    width: 60px;
    min-width: 60px;
    height: 60px;
    border: solid 3px rgb(156, 200, 19);
    border-radius: 50%;
    position: relative;
}
#catalog-goBtn .icon img{
    width: 40px;
    position: absolute;
    top: 11px;
    left: 10px;
}
#catalog-goBtn .text{
    color: rgb(156, 200, 19);
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
}

/* -----------------
spierスライダーの設定
------------------ */
.swiper {
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.swiper .swiper-slide img{
    width: 100%;
    max-width: 200%;
}
#pick-up .swiper .swiper-pagination{
    position: absolute;
    top: 110px;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
}
#pick-up .swiper .swiper-pagination-bullet{
    margin: 0 20px;
}
:root{
    --swiper-theme-color: rgb(186, 240, 25);
}
.swiper-slide{
    margin-bottom: 30px;
}
.swiper-slide .text-area{
    padding: 20px 60px;
    margin-bottom: 50px;
}
.swiper-slide .text-area .title{
    margin-bottom: 15px;
}
/* 詳細を見るのボタン */
.detail-btn{
    text-align: center;
}
.detail-btn a{
    color: rgb(156, 200, 19);
    border: solid 3px rgb(156, 200, 19);
    border-radius: 30px;
    padding: 13px 80px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #fff;
    transition: 0.15s;
}
.detail-btn a:hover{
    background-color: rgb(156, 200, 19);
    color: #fff;
}

/* -----------------
promise 私たちの約束
------------------ */
.wrapper{
    display: flex;
    margin-bottom: 120px;
}
.section-left{
    width: calc(40% - 15px);
    margin-bottom: 50px;
    margin-right: 15px;
}
.section-left .section-title p{
    text-align: right;
    
}
.section-right .right-img{
    width: 60%;
    margin: 0px auto 0 135px;
}
.section-left .text-area{
    text-align: right;
    margin-bottom: 50px;
}
.section-left .detail-btn{
    text-align: right;
}
.section-right{
    width: 55%;
}
#promise .section-right img{
    width: 400px;
    margin-top: 80px;
}

/* ----------------
LINE UP 住まいのラインナップ
------------------- */
#line-up .section-right img{
    margin-top: 10px;
}
/* -------------------
Technology技術と性能 
----------------------*/
/* #technology .section-right img{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
} */

/* -----------------
WORKS 実例集・アイデア集・間取り集
-------------------- */



/* ---------------------
model-house モデルハウス
----------------------- */
#model-house .section-left{
    width: calc(40% - 80px);
    position: relative;
    margin-right: 50px;
    text-align: right;
    margin-left: 30px;
}
#model-house .section-left .section-title{
    margin-bottom: 30px;
}
#model-house .section-left .text-area{
    margin-bottom: 30px;
}
#model-house .section-left .detail-btn{
    position: absolute;
    top: 320px;
    right: 0;
}
#model-house .section-left .map-img{
    width: 450px;
}
#model-house .section-right{
    width: 340px;
    margin-top: 235px;
    margin-left: 40px;
    text-align: center;
}
#model-house .section-right .right-top{
    margin-bottom: 35px;
}
#model-house .section-right .section-right-title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
#model-house .section-right .section-right-btn{
    width: 100%;
    display: block;
    color: rgb(156, 200, 19);
    font-size: 1.15rem;
    font-weight: bold;
    border: solid 3px rgb(156, 200, 19);
    border-radius: 30px;
    padding: 8px 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: 0.15s;
}
#model-house .section-right .section-right-btn:hover{
    background-color: rgb(156, 200, 19);
    color: #fff;
}
#model-house .section-right .right-bottom .btn-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#model-house .section-right .right-bottom .btn-flex li{
    width: 48%;
    margin-bottom: 20px;
}
#model-house .section-right .right-bottom .btn-flex li a{
    width: 100%;
    display: block;
    font-weight: bold;
    color: rgb(156, 200, 19);
    border: solid 3px rgb(156, 200, 19);
    border-radius: 30px;
    padding: 10px 0;
    background-color: #fff;
    box-sizing: border-box;
}
#model-house .section-right .right-bottom .btn-flex li a:hover{
    background-color: rgb(156, 200, 19);
    color: #fff;
}

/* ---------------------
Q&A よくある質問
---------------------- */
#QandA .section-right{
    width: 460px;
    margin-top: 100px;
    margin: 100px auto 0px auto;
}
#QandA .section-right .step-guide{
    text-align: center;
}
#QandA .section-right .btn-list li{
    margin-bottom: 20px;
}
#QandA .section-right .btn-list a{
    display: flex;
    border: solid 3px rgb(156, 200, 19);
    border-radius: 50px;
    position: relative;
    padding: 10px 15px;
    align-items: center;
}
#QandA .section-right .btn-list a::after{
    content: "";
    width: 15px;
    height: 15px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: rgb(156, 200, 19);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%,-50%) rotate(45deg);
}
#QandA .section-right .btn-list .icon{
    width: 55px;
    height: 55px;
}
#QandA .section-right .btn-list .text{
    font-weight: bold;
    margin-left: 15px;
    font-size: 1.1rem;
    line-height: 1.3;
}

/* -----------------------------
News ニュース 
-------------------------------*/
#news{
    background-color: #e9e9e9;
    padding: 90px 70px;
}
.inner{
    max-width: 1270px;
    margin: 0 auto;
}
#news .title-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
#news .title-flex .section-title{
    margin-bottom: 0;
}
#news .title-flex .section-title p{
    text-align: left;
}
#news .title-flex .page-btn{
    color: rgb(156, 200, 19);
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
}
#news .title-flex .page-btn::after{
    content: "";
    width: 7px;
    height: 7px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: rgb(156, 200, 19) rgb(156, 200, 19) transparent transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: 40%;
    right: -20px;
}
#news .article-list .article-title{
    display: inline-block;
    font-size: 1.1rem;
    border-top: solid 2px #333;
    border-bottom: solid 2px #333;
    padding: 6px 0;
    margin-bottom: 20px;
}
#news .article-list ul{
    margin-bottom: 45px; 
}
#news .article-list ul .item{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
}
#news .article-list ul .item .text{
    border-bottom: solid 1px #000;
    font-size: 1.05rem;
}
#news .article-list ul .item-flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#news .article-list ul .item-flex time{
    margin-right: 15px;
    color: #888585;
}
#news .article-list ul .item-flex .category{
    border: solid 1px #333;
    padding: 4px 6px;
    font-size: 0.9rem;
}

/* ---------------------------
ページ遷移のボタンなど（ページ下部）
---------------------------- */
#btn-list{
    padding: 70px 10px;
}
#btn-list .border-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#btn-list .border-btn .item{
    display: flex;
    width: 470px;
    padding: 20px;
    margin: 0 10px;
    border: solid 2px rgb(156, 200, 19);
}
#btn-list .border-btn .item img{
    width: calc(45% - 20px);
    margin-right: 20px;
}
#btn-list .border-btn .item .text-area{
    font-family: fantasy;
    align-items: center;
}
#btn-list .border-btn .item .text-area .title{
    color: rgb(156, 200, 19);
    font-size: 2.0rem;
    font-weight: normal;
    margin-bottom: 15px;
}
#btn-list .border-btn .item .text-area .textGreen{
    color: rgb(156, 200, 19);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}
#btn-list .border-btn .item .text-area .text{
    font-size: 0.9rem;
    font-weight: bold;
}
#btn-list .img-btn{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#btn-list .img-btn a{
    width: 48%;
    margin: 0 10px;
}

/* ---------------------------------------------------
footer フッターエリア
------------------------------------------------------ */
#footer{
    margin-bottom: 70px;
}
#footer .menu-list-SP{
    display: none;
}
/* -----------
フッターのグリーンメニュー
------------ */
.foot-menu-btn .menu-list{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-bottom: 70px;
}
.foot-menu-btn .menu-list li:nth-child(1){
    width: 50%;
    background-color: rgb(211 222 22);
}
.foot-menu-btn .menu-list li:nth-child(2){
    background-color: rgb(190 200 19);
}
.foot-menu-btn .menu-list li:nth-child(3){
    width: 50%;
    background-color: rgb(156, 200, 19);
}
.foot-menu-btn .menu-list li a{
    min-width: 350px;
    display: flex;
    height: 150px;
    align-items: center;
}
.foot-menu-btn .menu-list li:nth-child(1) a{
    justify-content: right;
    padding-right: 100px;
}
.foot-menu-btn .menu-list li:nth-child(2) a{
    justify-content: center;
    min-width: 350px;
}
.foot-menu-btn .menu-list li:nth-child(3) a{
    justify-content: left;
    padding-left: 60px;
}
.foot-menu-btn .menu-list li a .icon{
    width: 55px;
    height: 55px;
    border: solid 2px #fff;
    border-radius: 50%;
    position: relative;
}
.foot-menu-btn .menu-list li a .icon img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 9px;
    left: 7px;
}
.foot-menu-btn .menu-list li a .text-area{
    margin-left: 10px;
}
.foot-menu-btn .menu-list li a .text-area .title{
    color: #fff;
    font-family: fantasy;
    font-weight: normal;
    font-size: 1.5rem;
}
.foot-menu-btn .menu-list li a .text-area .text{
    color: #fff;
    font-size: 0.8rem;
    position: relative;
}
.foot-menu-btn .menu-list li a .text-area .text::after{
    content: "";
    width: 5px;
    height: 5px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    position: absolute;
    bottom: 7px;
    right: -5px;
    transform: rotate(45deg);
}
/* -------------------
フッターのナビゲーションメニュー
--------------------- */
.footer-naviArea{
    padding: 0 40px;
}
.footer-naviArea .item{
    display: flex;
    margin-bottom: 40px;
}
.footer-naviArea .item .item-left{
    width: 30%;
}
.footer-naviArea .item .item-left a{
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
}
#footer .footer-naviArea .item a:hover{
    color: rgb(156, 200, 19);
}
.footer-naviArea .item .item-left a::before{
    content: "";
    width: 5px;
    height: 5px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #555555 #555555 transparent transparent;
    position: absolute;
    bottom: 9px;
    left: -13px;
    transform: rotate(-135deg);
}
.footer-naviArea .item .item-right{
    width: 70%;
}
.footer-naviArea .item .item-right .right-info{
    display: flex;
    flex-wrap: wrap;
}
.footer-naviArea .item .item-right .right-info .title{
    position: relative;
    font-size: 0.9rem;
}
.footer-naviArea .item .item-right .right-info .title::before{
    content: "";
    width: 5px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    bottom: 12px;
    left: -8px;
}
.footer-naviArea .item .item-right .right-info .page-btn{
    color: #888585;
    margin-left: 15px;
    position: relative;
    font-size: 0.9rem;
}
.footer-naviArea .item .item-right .right-info .page-btn.slash::after{
    content: "／";
    position: absolute;
    bottom: 0px;
    left: -15px;
}
.footer-naviArea .item .item-right .right-info .page-btn::after{
    content: "｜";
    position: absolute;
    bottom: 0px;
    left: -15px;
}
#footer .footer-logoImg{
    text-align: center;
}
#footer .copyright{
    text-align: center;
    font-size: 0.75rem;
}

.pop-up{
    width: 450px;
    height: 315px;
    position: fixed;
    bottom: -340px;
    right: 0;
    z-index: 30;
    padding: 10px;
    background-color: rgb(156, 200, 19);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.3s;
}
.pop-up.active{
    bottom: 0;
}
.pop-up.active.close{
    bottom: -290px;
}
.pop-up.active.close .title{
    cursor: pointer;
}
.pop-up .title{
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
}
.pop-up .back-btn{
    position: absolute;
    top: 5px;
    right: 25px;
    left: auto;
    border: none;
    transition: 0.3s;
}
.pop-up .back-btn.close span{
    width: 12.5px;
}
.pop-up .back-btn.close span:nth-child(1){
    top: 20px;
    left:1px;
}
.pop-up .back-btn.close span:nth-child(2){
    top: 20px;
    left:9px;
}
/* SPの時のポップアップボタン */
.pop-openBtn-SP{
    display: none;
}

/* -----------------------
ページトップに自動スクロールするボタン
------------------------ */
.page-topGo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: rgb(156, 200, 19);
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 20;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}
.page-topGo.active{
    opacity: 1;
}
.page-topGo span{
    width: 25px;
    height: 25px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    position: absolute;
    bottom: 20px;
    right: 25px;
    transform: rotate(-45deg);    
}


/* ---------------------------------------
スマホバージョンの設定
------------------------------------------ */
@media screen and (max-width:940px) {
    /* 共通設定 */
    .wrapper{
        flex-direction: column;
        padding: 0 15px;
    }
    .section-left .section-title{
        margin-bottom: 30px;
    }
    .section-left .section-title p{
        text-align: center;
    }
    .section-left .text-area {
        text-align: center;
    }
    .section-title .en {
        font-size: 3.0rem;
    }
    .section-left .detail-btn{
        text-align: center;
    }
    .section-left{
        width: 100%;
        margin-right: 0;
    }
    .section-right{
        width: 100%;
    }
    /* ポップダウンする設定 */
    .popDown-content {
        width: 100%;
        height: auto;
    }
    .popDown-content.open{
        top: 100px;
    }
    .popDown-content .item-top{
        flex-direction: column;
    }
    .popDown-content .item-top .item-left{
        width: 100%;
        height: auto;
        padding-top: 0px;
    }
    .popDown-content .item-top .item-right{
        width: 100%;
        height: auto;
        padding-top: 0;
    }
    .popDown-content .item-top .item-left .catalog,
    .popDown-content .item-top .item-right .text1{
        display: none;
    }
    .popDown-content .item-bottom{
        height: auto;
        padding-top: 0;
    }
    .popDown-content .title-area{
        width: 230px;
        justify-content: start;
        margin: 0 auto 0 auto;
        padding: 20px 50px;
    }
    .popDown-content .title-area .title{
        width: calc(100% - 60px);
        text-align: center;
    }
    .popDown-content .title-area .title h1{
        font-size: 1.5rem;
    }
    .popDown-content .title-area .text{
        font-size: 0.8rem;
    }
    .popDown-content .title-area .text::after{
        bottom: 3px;
    }
    .popDown-content .title-area .icon{
        width: 45px;
        height: 45px;
    }
    .popDown-content .title-area .icon img{
        width: 35px;
        top: 5px;
        left: 5px;
    }
    
    /* header */
    .h-navi{
        width: 100%;
        transform: translateY(-200vh);
        background-color: #333;
    }
    .h-navi .navi-menu li:last-child{
        margin-bottom: 80px;
    }
    .h-navi .navi-menu a{
        color: #fff;
    }
    .h-navi .navi-menu a span::after{
        background-color: #fff;
    }
    .h-navi .naviBox {
        background-color: #333;
    }
    .site-menu{
        display: none;
    }
    .popDown-btn{
        width: 50px;
        margin-right: 15px;
    }
    .popDown-btn span {
        left: 15px;
    }
    #header .head-left .site-title{
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hum-btn{
        position: absolute;
        top: 45px;
        left: 20px;
        margin-left: 0;
    }
    .hum-btn.open{
        margin-left: 0;
        left: 20px;
    }
    

    /* メインビジュアル */
    #catalog-goBtn {
        width: calc(100% - 30px);
        margin: 80px 15px 50px 15px;
    }
    #mainvisual .title {
        font-size: 1.2rem;
        top: 10px;
        left: 10px;
    }
    /* swiper スライダーの設定 */
    .swiper{
        height: 700px;
    }
    .swiper-slide .text-area {
        padding: 20px 15px;
    }
    #pick-up .swiper .swiper-pagination{
        top: 95px;
    }
    #pick-up .swiper .swiper-pagination-bullet{
        margin: 0 8px;
    }

    /* ウィザースプロミス */
    .section-right .right-img {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    #promise .section-right img {
        margin-top: 0;
        width: 100%;
    }

    /* モデルハウス */
    #model-house .section-right{
        width: 100%;
        margin-left: 0;
        margin: 0;
    }
    #model-house .section-left {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
    }
    #model-house .section-left .section-title {
        margin-bottom: 10px;
    }
    #model-house .section-left .text-area{
        position: absolute;
        top: 120px;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
    }
    #model-house .section-left .detail-btn{
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    /* QandA */
    #QandA .section-right {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    /* ニュース */
    #news {
        padding: 50px 20px;
    }
    #news .title-flex {
        flex-direction: column;
        align-items: self-start;
        margin-bottom: 10px;
        position: relative;
    }
    #news .title-flex .section-title {
        margin-bottom: 50px;
    }
    #news .title-flex .page-btn {
        position: absolute;
        right: 15px;
        bottom: 5px;
    }
    #news .article-list ul .item .text {
        font-size: 0.9rem;
    }
    #news .article-list .article-title{
        font-size: 1.0rem;
    }

    /* ページ遷移のボタン */
    #btn-list {
        padding: 50px 10px;
    }
    #btn-list .border-btn{
        flex-direction: column;
        margin-bottom: 0;
    }
    #btn-list .border-btn .item{
        width: 100%;
        margin: 0px 0  30px 0; 
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    #btn-list .border-btn .item .text-area{
        max-width: 170px;
    }
    #btn-list .border-btn .item .text-area .title {
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    #btn-list .border-btn .item .text-area .textGreen{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    #btn-list .border-btn .item .text-area .text {
        font-size: 0.7rem;
    }
    #btn-list .img-btn{
        flex-direction: column;
        text-align: center;
    }
    #btn-list .img-btn a {
        width: 100%;
        margin: 0 0 30px 0;
    }

    /* フッター */
    .footer-naviArea{
        display: none;
    }
    .foot-menu-btn .menu-list{
        display: none;
    }
    #footer .menu-list-SP{
        display: flex;
    }
    .foot-menu-btn .menu-list-SP{
        
        justify-content: space-between;
        text-align: center;
        background-color: rgb(156, 200, 19);
        border-top: solid 1px #fff;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 30;
    }
    .foot-menu-btn .menu-list-SP  img{
        width: 30px;
    }
    .foot-menu-btn .menu-list-SP a{
        width: 33.3%;
        display: block;
        padding: 5px 0;
    }
    .foot-menu-btn .menu-list-SP a:nth-child(2){
        border-right: solid 1px #fff;
        border-left: solid 1px #fff;
    }
    .foot-menu-btn .menu-list-SP .title{
        font-size: 0.6rem;
        color: #fff;
        line-height: 1;
    }
    /* ページトップに戻るボタン */
    .page-topGo{
        width: 50px;
        height: 50px;
        bottom: 60px;
        right: 5px;

    }
    .page-topGo span{
        width: 15px;
        height: 15px;
        bottom: 12px;
        right: 17px;
    }

    /* ポップアップ設定 */
    .pop-openBtn-SP{
        display: block;
        background-color: rgb(156, 200, 19);
        border: solid 2px #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: fixed;
        bottom: 70px;
        left: -5px;
        z-index: 10;
        cursor: pointer;
    }
    .pop-openBtn-SP p{
        writing-mode: vertical-lr;
        font-size: 0.75rem;
        font-weight: bold;
        color: #fff;
        padding: 10px 10px 35px 10px;
        position: relative;
    }
    .pop-openBtn-SP p::after,
    .pop-openBtn-SP p::before{
        content: "";
        width: 10px;
        height: 10px;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: #fff #fff transparent transparent;
        transform: rotate(45deg);
        position: absolute;
        bottom: 12px;
    }
    .pop-openBtn-SP p::before{
        right: 12px;
    }
    .pop-openBtn-SP p::after{
        right: 20px;
    }
    .pop-up{
        max-width: 100%;
        width: 375px;
        box-sizing: border-box;
        bottom: 20px;
        left: -100%;
        z-index: 20;
    }
    .pop-up.active {
        left: 0;
        bottom: 20px;
    }
    .pop-up.active.close{
        left: -100%;
        bottom: 20px;
    }
}